.TodoItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 8% 20px;
}

.TodoItem:last-child{
    margin-bottom: 0px;
}

.TodoItem p{
    display: inline;
    margin: 0;
    padding: 0;
}


.TodoItem_checkButton{
    padding: 0;
    cursor: pointer;
    margin-right: 16px;
    width: 24px;
    height: 24px;
    border: 2px solid var(--secondary);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 2px;
}

.TodoItem_checkButton.completed div{
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: var(--secondary);
}

.TodoItem_task{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--sm);
    font-weight: bold;
    background-color: var(--white);
    padding: 12px 12px;
    border-radius: 8px;
    transition: all 0.2s;
    transform-style: preserve-3d;
}

.TodoItem_task span{
    cursor: pointer;
}

.TodoItem_task.completed{
    color: var(--white);
    background-color: var(--primary);
    font-style: italic;
    text-decoration: line-through;
    font-weight: 400;
}