

.CreateTodoButton{
    border: none;
    font-size: var(--bg);
    cursor: pointer;
    position: absolute;
    color: var(--white);
    bottom: 5%;
    border-radius: 50%;
    padding: 4px;
    margin-left: 332px;
    width: 32px;
    height: 32px;
    background-color: var(--primary);
    z-index: 1;
}

@media (max-width: 400px){
    .CreateTodoButton{
        right: 5%;
        margin-left: 0px;

    }
}