
html, body{
  margin: 0;
  padding: 0;
}

:root{
  --black: #272739;
  --white: #fff;
  --background: #e9ebf8;
  --primary: #00009b;
  --secondary: #0000ff;
  --bg: 20px;
  --md: 16px;
  --sm: 12px;
}

body{
  /* display: grid;
  place-content: center;
  
  height: 100vh;
  box-sizing: border-box; */
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--background);
  color: var(--black);
}

