html, body{
  margin: 0;
  padding: 0;
}

:root{
  --black: #272739;
  --white: #fff;
  --background: #e9ebf8;
  --primary: #00009b;
  --secondary: #0000ff;
  --bg: 20px;
  --md: 16px;
  --sm: 12px;
  --max_width: 400px;
}

body{
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--background);
  color: var(--black);
}

.pageContent{
  margin: 0 auto;
  max-width: var(--max_width);
}

